body,html {
    height: 100%;
    margin:0;
    width: 1024px; 
     color: #777;
}
.bg-my-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../attempts/my-image-2.jpg");
    height: 400px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-image-2 {
    background: url('../attempts/pexels-photo-2.jpeg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-3 {
    background: url('../attempts/pexels-photo-3.jpeg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-1, .text-2 {
    text-align: center;
    background: #d9d9d9;
    padding: 50px 40px;
    text-align: justify;
    font-family: 'Sniglet', cursive;
    line-height: 20px;
}

.text-1 h2 {
    padding-bottom: 10px;
    font-size: 35px;
    text-align: center;
}

.text-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Sniglet', cursive;
    font-size: 50px;
}
.hero-text h1{
    padding-bottom: 50px;
}
.hero-text ul li{
    font-size: 15px;
    padding: 5px;

}

.hero-text ul li .effect:hover {
    background:  #ccccff;
    font-size: 18px;
    
}  

a {    
    margin: auto;
    padding: 1rem 1.25rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #506a6b;
    text-decoration: none;
    position: relative;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    z-index: 1;
}  

.item-contant {
    max-width: 500px;
    max-height: 500px;
    margin-left:15px;
}
.text-2 .item-contant h2 {
    font-size: 28px;
    margin: 20px;
}
.first  {
    list-style: none;
    padding: 0;
    }
